.error-page {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gradient {
    background-image: linear-gradient(0deg, rgba(138, 43, 226, 1) 35%, rgba(127, 20, 226, 1) 65%, rgba(117, 0, 226, 1) 100%);
}

.error-page .height {
    color: white;
    align-items: center;
    min-height: 100vh;
    display: flex;
}

.error-page .error-head {
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 1;
}

.error-page .sub {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.error-page a {
    padding: 15px;
    border: #fff 1px solid;
    background: transparent;
    color: #fff
}
.error-page a:hover {
    text-decoration: none;
    background: #fff;
    color: #684ca0;
}
.error-page img {
    max-width: 300px;
}
@media only screen and (max-width: 480px) {
    .error-page img {
        max-width: 110px;
    }
}
