/* CUSTOM FONTS */
@font-face {
    font-family: "Didot";
    src: url("../fonts/Didot.ttf");
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont-Regular.eot");
    src: local("☺"), url("../fonts/Mont-Regular.woff") format("woff"),
        url("../fonts/Mont-Regular.ttf") format("truetype"),
        url("../fonts/Mont-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont-Bold.eot");
    src: local("☺"), url("../fonts/Mont-Bold.woff") format("woff"),
        url("../fonts/Mont-Bold.ttf") format("truetype"),
        url("../fonts/Mont-Bold.svg") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont-Heavy.eot");
    src: local("☺"), url("../fonts/Mont-Heavy.woff") format("woff"),
        url("../fonts/Mont-Heavy.ttf") format("truetype"),
        url("../fonts/Mont-Heavy.svg") format("svg");
    font-weight: 800;
    font-style: normal;
}

